@charset "UTF-8";
.col-md-6 h4{
	text-align:center;
	margin-top:10%;
	margin-bottom:10%;
}
.col-md-6 div{
	text-align:center;
}

.canvas{
	margin-top:10%;
	margin-bottom:10%;
	width:100%;
	height:25%;
	background-color: white;
	border : 7px solid #EAD7D0;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /*그림자 주는 효과 */
}

button{
	width:40%;	
}
form div{
	margin:auto;
	margin-top:10%;
}