@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:700&display=swap');
body{
	background-image: url("../images/background.png");
	font-family: 'Noto Sans KR';
}
.col-md-6{
	background-color:white;
	padding-top:20px;
	
}
.form-group{
	margin-top:25px;
}
.form-group input{
    border-bottom:3px solid #2F78B8;
    border-top:0px solid white;
    border-left:0px solid white;
    border-right:0px solid white;
	width: 70%;
    padding: 5px;	
}
.form-group label{
	width:25%
}
form button{
	width: 80%;
    height: 50px;
    background-color:#2f78b8;
    border:0px;
    color:white;
 	margin-left:10%;
 }
h2{
    text-align: center;
	color:#2f78b8;
	font-size:24px;
}
