@charset "UTF-8";
h2{
	font-size:24px;
	text-align:center;
}
td{
	height:70px;
	text-align:center;
}
tr td:nth-child(odd){
	width:70px;
}
tr td:nth-child(2){
	width:180px;
}
tr td:nth-child(3){
	/*background-image: url(../images/votelogo2.png);*/
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.backimg{
	background-image: url(../images/votelogo2.png);
}
td input{
	display:none;

}
td span{
	font-size:17px;
}
button {
	margin:130px;
}